@{
    ViewBag.Title = "关于我们";
    var w = XBD.Web.Utilities.WebInfo.GetWebInfo();
    ViewBag.IsSlide = true;
}

<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=owILLG7keXiED9kuhowQ4ztc"></script>
<div id="mapper" hd-slide>
</div>
@*<div hd-slide-line>
    <div class="container" orange style="overflow:hidden; line-height:40px; text-align:right; color:#E4AE3E; font-style:italic; font-weight:bold;  font-size:20px;">
        <div style="display:inline-block; background:#F8F8F8;padding:0 10px;">
            <img src="~/Content/image/iconfont-phone.png" style="width:25px;vertical-align:middle; margin-top:-5px;" /> @w.TelCall.Split('、')[0]
        </div>
    </div>
</div>*@
<div class="container body-content">
    <div class="row" style="margin-top:10px;">
        <div cate-about-us>
                <p cate-about-us-title>关于我们</p>
                <p cate-about-us-des>
                    @w.About
                </p>
                <p cate-about-us-title>联系方式</p>
                <p cate-about-us-content>
                    手机：@w.UserPhone1 、@w.UserPhone2<br />
                    @if (w.TelCall.Split('、').Length > 1)
                    {
                        @(w.TelCall.Split('、').Length > 1 ? " 电话："+w.TelCall.Split('、')[1] : "")<br />
                    }

                    @if (w.TelCall.Split('、').Length >0)
                    {
                        @(w.TelCall.Split('、').Length > 0 ? " 座机：" + w.TelCall.Split('、')[0] : "")<br />
                    }
                    QQ号：@w.QQ<br />
                    邮箱：@(w.Email)<br />
                    地址：@w.Address
                </p>
            </div>
    </div>

</div>

<script type="text/javascript">
    var map = new BMap.Map("mapper");
    map.centerAndZoom("@w.Address", 18);
    var marker = new BMap.Marker(new BMap.Point(121.513916, 31.240237));
    map.addOverlay(marker);
    map.disableScrollWheelZoom();
    map.disableDoubleClickZoom();

</script>